* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3c3c3c;
}

button {
  padding: 5px;
  margin: 20px;
  color: #fff;
}

.cell {
  width: 33.3%;
  height: 33.3%;
  background-color: #ccc;
  border: 1px solid #666;
  display: flex;
  flex-wrap: wrap;
}

.blue {
  background-color: #00f;
}

.draw-overlay {
  background-color: green;
}

.gray-overlay {
  background-color: rgba(0,0,0,0.2);
}

.box {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  position: relative;
}

.blue {
  background-color: blue;
}

.blue-overlay {
  background-color: rgba(0,0,255);
}

.btn-info {
  background-color: purple;
}

.info {
  width: 470px;
  height: 470px;
  display: none;
  background-color: #ccc;
  padding: 10px;
}

.info p {
  padding: 5px 0;
}

.info.active {
  display: block;
}

.info-close {
  background-color: purple;
  margin-left: 44%;
}

.overlay {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.game-overlay {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 10;
  left: 10;
  z-index: 10;
  display: none;
}

.player1 {
  background-color: #00f;
}

.player2 {
  background-color: #f00;
}

.red {
  background-color: #f00;
}

.red-overlay {
  background-color: rgba(255,0,0);
}

#container {
  width: 70%;
  margin: 100px auto;
  display: flex;
    justify-content: space-around;
}

#container.active {
  width: 90%;
}

#game {
  width: 470px;
  height: 470px;
  padding: 10px;
  background-color: #999;
  display: flex;
    flex-wrap: wrap;
    position: relative;
}

#options {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
  z-index: 11;
}
h2{
  text-align: center;
  
}
